* { margin: 0; padding: 0; }
body { background-color: hsl(0, 0%, 8%); color: hsl(0, 0%, 100%); font-family: "Inter", sans-serif; min-height: 100svh; padding: 100px 20px; }
.card { max-width: 20%; margin: 0 auto; text-align: center; padding: 2rem; padding-bottom: 1rem; background-color: hsl(0, 0%, 12%); border-radius: 1rem; }
img { max-width: 40%; border-radius: 50%; }
h2 { font-size: 2rem; font-weight: 400; margin: 10px 0px; }
h2 ~ p { color: hsl(75, 94%, 57%); font-weight: 600; margin-bottom: 30px; }
#quote p { margin-bottom: 30px; }
button { width: 100%; padding: 1rem; background-color: hsl(0, 0%, 20%); color: hsl(0, 0%, 100%); border: none; margin-bottom: 1rem; font-weight: 800; border-radius: 10px; font-size: 1rem; transition: color 0.3s ease; }
button a { text-decoration: none; }
button:hover { background-color: hsl(75, 94%, 57%); cursor: pointer; color: hsl(0, 0%, 20%); }
hr {width: 20%; border: 1px solid hsla(0, 0%, 100%, 0.234); margin: 2rem auto; }
.attribution p { font-size: 0.9rem; font-style: italic; }
.attribution a { text-decoration: none; }
.attribution a:active { color: hsl(75, 94%, 57%); }
.attribution a:visited { color: coral; }
.attribution a:hover { color: coral; border-bottom: 1px solid coral; } 
/* Mobile & Small Tablet Responsive */
@media (min-width: 300px) and (max-width: 769px) {
    .card {max-width: 80%; }
    hr { width: 80%; }
    button { width: 100%; padding: 14px; }
}
/* Big Tablet and Small Laptop Responsive */
@media (min-width: 769px) and (max-width: 1024px) {
    .card  {max-width: 60%; }
    hr {width: 60%; }
    button { width: 100%; }
}
/* Big Laptop and TV Responsive */
@media (min-width: 1024px) and (max-width: 1440px) {
    .card { max-width: 30%; }
    hr { width: 30%; }
    button { width: 100%; }
}
